# Start enumeration instructions
# Design number 1
# Design size 2418209282944
START: c1c(CCCC=O)cc(CCC=O)cc1CC=O core
AND:
/1.2.1_Aldehyde_reductive_amination_FROM_aldehydes_AND_amines.rxn||CNCC(C)NC tad1
/1.2.1_Aldehyde_reductive_amination_FROM_aldehydes_AND_amines.rxn||CNCCCCCCCNC tad2
/1.2.1_Aldehyde_reductive_amination_FROM_aldehydes_AND_amines.rxn||CNCCCC tad3
/1.2.1_Aldehyde_reductive_amination_FROM_amines_AND_aldehydes.rxn||CNCC tad4
# End enumeration instructions
