# november 2017: Email from JPR
# This library is a little bit different compared to the ones you have enumerated before
# because cycle 3 was split into four subsets with a different chemistry in each. 
# In order to facilitate the enumeration, I am generating these four subsets as if 
# they were four different libraries: 18A1, 18A2, 18A3 and 18A4.
 
# The total size of each subset is 1,089,792 (43 x 264 x 96, including controls). 
# As in other occasions, I have generated a file where each line corresponds to one compound. 
# The fields per line are the following:
#  - CompoundID
#  - For each building block: TagID, sequence, SMILES and LSN  (x 3 cycles)
#  - Closing primer and sequence
# This is a total of 15 fields.
 
# The DNA starting material ends in an amine group. The sequence of reactions is the following:
# 1.- The building blocks of the first cycle are trifunctional: they have an halide (can be either F or Cl), 
#     a carboxylic acid and a nitro group. They react with the starting material via a SNAr (halide + amine).
# 2.- The building blocks of the second cycle are diamine BOCs. 
#     The free amines react with the carboxylic acid of the latter to form an amide bond.
# 3.- BOC deprotection
# 4.- Finally, the building blocks of the third cycle depend on the subset of the library:
#                - 18A1: Amidation with carboxylic acids.
#                - 18A2: Reductive amination with aldehydes
#                - 18A3: Sulphamidation with sulfonyl chlorides
#                - 18A4: SnAr
 
# The controls are identified in the SMILES field as:
#  - CTRL_NOCHEMISTRY: no building block added. The functional group on-DNA may react in subsequent cycles with the next building blocks
#  - CTRL_DMT: no building block added in the second cycle. Amine reacts with DMT-MM and cannot react with anything else in the next cycles
#  - CTRL_NaCNBH3: no building block added (only used in cycle 3 of 18A2)
 
# You can find the files at  
# /home/ys11020/DEL/ADEL18A/Enumeration/preEnumerationADEL18A1.txt
# /home/ys11020/DEL/ADEL18A/Enumeration/preEnumerationADEL18A2.txt
# /home/ys11020/DEL/ADEL18A/Enumeration/preEnumerationADEL18A3.txt
# /home/ys11020/DEL/ADEL18A/Enumeration/preEnumerationADEL18A4.txt
 
#
# 20171109 - THIS IS ADEL18A
#
# run via:  
# 1130  time /home/rx87851/bin/molecular_transformations.test.sh -v -v -N 10000 -S 10k_ADEL18A -M apprxn -M apprgnt -z i -z w -W rxsep='>>' -W rgsep='+' -A D -u -T ADEL18A.config
# 1129  time /home/rx87851/bin/molecular_transformations.test.sh -v -v -S ADEL18A -M apprxn -M apprgnt -z i -z w -W rxsep='>>' -W rgsep='+' -A D -u -T ADEL18A.config
#

# AFAIK iwstring_data_source do not take environment variables, so put all the files here.  In normal
# use the rxn files should be taken from $C3TK_HOME/data/rxndef
# starting with an amine material
START: [13C]OCC[1NH2] core
AND:
# SNAR: amine+halide (amine on starting material, halide on bb1)
./X.X.X_SNAr_aniline_synthesis_FROM_amines_AND_halides.rxn||file=./bb1_U_fc.smi
NOOP
|
AND:
# amideSynthesis/amidation: acid+amine (acid on intermediates, amine on bb2)
./2.1.2_Carboxylic_acid_+_amine_condensation_FROM_carboxylic_acids_AND_amines.rxn||file=./bb2_U_fc.smi
NOOP
|
AND:
# boc deprotection (boc on intermediates) 
./6.1.1_N-Boc_deprotection_FROM_boc_AND_Null.rxn
NOOP
|
AND:
# amideSynthesis/amidation: amine+carboxylic acid (amine on intermediates, acid on bb3) <<<<<<
./2.1.2_Carboxylic_acid_+_amine_condensation_FROM_amines_AND_carboxylic_acids.rxn||file=./bb3_U_fc.smi
NOOP

