# sandybridge 2011
build --cxxopt=-std=c++20

build --enable_bzlmod --experimental_cc_shared_library
# https://groups.google.com/g/bazel-discuss/c/5cbRuLuTwNg
build --per_file_copt=external/.*@-Wno-error=maybe-uninitialized

build:asan --strip=never
build:asan --copt -fsanitize=address
build:asan --cxxopt -fsanitize=address
build:asan --copt -DADDRESS_SANITIZER
build:asan --cxxopt -DADDRESS_SANITIZER
build:asan --copt -O1
build:asan --cxxopt -O1
build:asan --copt -g
build:asan --cxxopt -g
build:asan --copt -fno-omit-frame-pointer
build:asan --linkopt -fsanitize=address

build:debug -c dbg
build:debug --javacopt="-g"
build:debug --copt="-g"
build:debug --strip="never"

build:msan --strip=never
build:msan --copt=-fsanitize=memory
build:msan --copt=-O0
build:msan --copt=-fsanitize-memory-track-origins
build:msan --copt=-fsanitize-memory-use-after-dtor
build:msan --copt=-fno-omit-frame-pointer
build:msan --copt=-DGPR_NO_DIRECT_SYSCALLS
build:msan --linkopt=-fsanitize=memory
build:msan --action_env=MSAN_OPTIONS=poison_in_dtor=1


# Taken from https://docs.bazel.build/versions/main/tutorial/cc-toolchain-config.html
# No longer works. TODO:ianwatson re-enable clang as a compiler.
# build:clang_config --crosstool_top=//toolchain:clang_suite
# build:clang_config --host_crosstool_top=@bazel_tools//tools/cpp:toolchain

# DO not redefine test
# https://github.com/bazelbuild/bazel/issues/13186
# test inherits from build, so this was causing recompiles.
# test --cxxopt=-std=c++20 --cxxopt=-march=sandybridge --cxxopt=-mtune=sandybridge 
