bazel-bin
bazel-genfiles
bazel-out
bazel-src
bazel-testlogs
CMakeFiles
CMakeCache.txt
cmake_install.cmake
*.a
*pb.h
*pb.cc
*_pb2.py
Makefile
CTestTestfile.cmake
*.cmake
_deps
build
bin
lib
include
core.*
.gdb_history
*.cc~
*ruby-version
lib64
MODULE.bazel.lock
